.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 18.5em;
    height: 18.5em;
    border-radius: 0.6em;
    margin-right: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;
    
    font-family: Pretendard;
    transition: 0.3s; /* for hovering effect */
    
    -webkit-animation: fadein 0.6s ease-out, select 0.5s ease-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.6s ease-out; /* Firefox < 16 */
         -o-animation: fadein 0.6s ease-out; /* Opera < 12.1 */
            animation: fadein 0.6s ease-out;
            
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.1), 0 8px 16px -8px hsla(0, 0%, 0%, 0.1), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.02);
}

@keyframes fadein {
    from { opacity: 0; margin-top: 40px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.05), 0 8px 32px -8px hsla(0, 0%, 0%, 0.05), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.01);
}

.card img {
    max-height: 10em;
    width: 100%;
    object-fit: cover;
}

.card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.35em;
    font-weight: 700;
    transition: all ease-in 100ms;
}

.card p {
    color: #777;
}

.card h5 {
    color: #bbb;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin: auto auto auto 0px;
    text-transform: uppercase;
}

.card_body {
    padding: 1.2em;
    height: 100%
}

.card_body > div {
    display: flex;
    flex-direction: row;
}

.card_body > div > button {
    border: 1px solid #3F64E6;
    border-radius: 5px;
    font-weight: 500;
    color: #3F64E6;
    background-color: white;
}

.card_body > div > button:hover {
    border: 1px solid #3F64E6;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: #3F64E6;
    transition: 0.3s;
}